body{
  margin: 0;
}
.watchMainContainer{
  /* border: 1px solid red; */
  position: relative;
}
.watchesBG{
  width: 100%;
  position: relative;
}

.coloredWatches{
  transition: all 1s ease;
  position: absolute;
  width: 32%;
  top: 6.5vw;
  left: 51.3vw;
  opacity: 1;
}
.coloredWatches:nth-child(5){
  left: calc(51.3vw - 3px);
}

.colorChangeContainer{
  position: absolute;
  top: 13vw;
  right: 15vw;
  transform: rotate(5deg);
}
.colorChangeButton{
  margin-bottom: 0.5vw;
  position: relative;
  width: 2vw;
  height: 2vw;
  /* border: 1px solid blue; */
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.colorChangeBG {
  position: absolute;
  width: 5vw;
  transition: 0.5s ease;
  height: 5vw;
  top: -3vw;
  left: -3vw;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 100%);
}
.green{
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(10,89,93,1) 70%, rgba(10,89,93,1) 100%);
}
.brown{
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(102,45,0,1) 70%, rgba(102,45,0,1) 100%);
}
.purple{
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(39,9,95,1) 70%, rgba(39,9,95,1) 100%);
}
.gray{
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(51,51,51,1) 70%, rgba(51,51,51,1) 100%);
}

.colorChangeBG:hover{
  top: -2.7vw;
  left: -2.7vw;
}
